/*general fonts*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200&display=swap");


body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Spartan", sans-serif;
}

#circulo {
  font-family: "Spartan", sans-serif;
  height: 100px;
  width: 100px;
  background: #ffc107;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: black;
  display: block;
  margin: auto;
  /*position: relative;
  top: 166px;*/
  padding-top: 15px;
  font-size: 45px;
}

#button-click {
  margin-top: 2%;
  height: 45px;
  width: 145px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Spartan", sans-serif;
  border-color: #ffc107;
}

.container {
  font-family: "Spartan", sans-serif;
  margin-top: 5%;
}

.recharts-wrapper {
  display: flex;
  margin: auto;
  margin-top: 2%;
}

.estadisticas {
  margin-top: 5%;
  color: #ffff;
}

.title {
  font-family: "Spartan", sans-serif;
  font-size: 24px;
  color: orange;
  text-shadow: 1px 2px black;
}

/*MOBILE SECTION*/

/*Smartphones*/
@media (min-width: 360px) and (max-width: 767px) {
  .App {
    height: 95rem;
    width: 24rem;
  }

  .recharts-surface {
    width: 350px;
  }
}
@media (min-width: 412px) and (max-width: 915px) {
  .recharts-surface {
    width: 390px;
  }
}
@media only screen and (min-device-width: 384px) and (max-width: 854px) {
  .recharts-surface {
    width: 390px;
  }
}
/*Ipad*/
@media only screen and (min-device-width: 810px) and (max-width: 1080px) {
  .App {
    height: 66rem;
  }

  .recharts-surface {
    width: 46rem;
  }
}

/*END MOBILE SECTION*/
